<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo de Musicas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <%- include ('../partials/navbar');%>
      <h3 class="title__h3">Musicas Cadastradas</h3>
      <br />
      <a href="/musicas/novo" class="btn btn-success">Nova Musica</a
      ><br /><br />
      <table class="table table-striped table__style">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Ano</th>
            <th>Artista</th>
            <th>Genero</th>
          </tr>
        </thead>
        <tbody>
          <% musicas.forEach(function(musica){ %>
          <tr>
            <td><%=musica.id %></td>
            <td><%=musica.titulo %></td>
            <td><%=musica.ano %></td>
            <td><%=musica.artista.nome %></td>
            <td><%=musica.genero.descricao %></td>
            <td>
              <a
                href="/musicas/editar/<%=musicas.id%>"
                class="fas fa-edit"
                style="color: #28a745"
                ata-toggle="tooltip"
                title="Editar Musica"
              ></a>
            </td>
            <td>
              <a
                href="/musicas/excluir/<%=musica.id%>"
                class="fas fa-trash"
                style="color: #28a745"
                ata-toggle="tooltip"
                title="Excluir Musica"
                onclick=" return confirm('Confirma a Exclusão?')"
              ></a>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>

      <% if(mensagem){ %>
      <div class="alert alert-info">
        <strong>Novo Registro!</strong> <%= mensagem %>
      </div>
      <% } %>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
