<!DOCTYPE html>
<html>
  <head>
    <title>Catálogo de Músicas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <div class="container">
      <%- include ('../partials/navbar');%>

      <br />
      <div class="card">
        <div class="card-body card__body__style">
          <h3 class="card-title title__h3">Edição de Músicas</h3>
          <form action="/musicas/salvar" method="POST">
            <div class="form-group">
              <label for="descricao" class="style__label"
                >Título da Música</label
              >
              <input
                type="text"
                name="titulo"
                id="titulo"
                placeholder="Informe o Título da Música."
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="ano" class="style__label">Ano de Lançamento</label>
              <input
                type="number"
                name="ano"
                id="ano"
                placeholder="Informe o Ano de Lançamento."
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="artista" class="style__label">Artista</label>
              <select id="artista" name="artista" class="form-control" required>
                <!-- Montando o select das categorias usando o forEach -->
                <option value=""></option>
                <% artistas.forEach(function(artista){ %>
                <option value="<%=artista.id%>"><%=artista.nome%></option>
                <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="genero" class="style__label">Gênero</label>
              <select id="genero" name="genero" class="form-control" required>
                <option value=""> </option>
                <% generos.forEach(function(genero){ %>
                  <option value="<%=genero.id%>"><%=genero.descricao%></option>
                  <% }) %>
              </select>
            </div>

            <input class="btn btn-success" type="submit" value="Salvar" />
            <a href="/musicas/lista" class="btn btn-outline-success">Listar Músicas</a>
          </form>

          <% if(mensagem){ %>
          <div class="alert alert-info mt-4">
            <strong>Novo Registro!</strong> <%= mensagem %>
          </div>
          <% } %>
          <% if(erro){ %>
            <div class="alert alert-danger mt-4">
              <strong>Alerta!</strong> <%= erro %>
            </div>
          <% } %>
          
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
